footer {
    background-color: #40c2d3;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-left, .footer-right, .footer-social {
    margin: 10px;
}

.footer-left a, .footer-left p {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-right a {
    display: inline-block;
}

.location-image {
    width: 350px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.location-image:hover {
    transform: scale(1.1);
}

.footer-social {
    margin: 10px 0;
}

.footer-social h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #f4f4f4;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-social ul li {
    display: inline;
}

.footer-social ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.footer-social ul li a:hover {
    color: #333;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
